.category-slider-card {
    position: relative;
    
    width: var(--width-category-slider-card);
    height: var(--height-category-slider-card);

    cursor: pointer;
}

.category-slider-card img{
    width: var(--width-category-slider-card);
    height: var(--height-category-slider-card);

    border-radius: 5%;
}

.category-slider-card:hover .slider-inner-card {
    z-index: var(--z-index-content-card-hover);
    opacity: 1;
    visibility: visible;
}

.rank-slider-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    width: var(--width-rank-slider-card);
    height: var(--height-rank-slider-card);

    cursor: pointer;
}

.rank-slider-icon {
    width: auto;
    height: 100%;
}

.rank-slider-card-img {
    width: var(--width-rank-slider-card-img);
    height: var(--height-rank-slider-card-img);

    border-radius: 5%;
}

.rank-slider-card:hover .slider-inner-card {
    z-index: var(--z-index-content-card-hover);
    opacity: 1;
    visibility: visible;
}

.slider-inner-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    width: var(--width-slider-inner-item);
    height: var(--height-slider-inner-item);
    margin: 0;
    padding: 0;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
    box-sizing: border-box;
    
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.slider-inner-card img{
    width: var(--width-slider-inner-item);
    height: auto;
    border-radius: 0;
}

.slider-inner-card-canvas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: var(--width-slider-inner-item);
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: var(--color-background);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: var(--width-slider-inner-item);
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: var(--padding-slider-inner-item-canvas);
    padding-left: var(--padding-slider-inner-item-canvas);
    padding-right: var(--padding-slider-inner-item-canvas);
    box-sizing: border-box; 
}

.left-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: var(--height-content-button);
    gap: var(--gap-button-container);
    margin: 0;
    padding: 0;
}

.right-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: var(--height-content-button);
    margin: 0;
    padding: 0;
}

.content-play-button, .content-add-button, 
.content-like-button, .content-dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--width-content-button);
    height: var(--width-content-button);
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.content-play-button img, .content-add-button img, 
.content-like-button img, .content-dropdown-button img {
    width: 100%;
    height: 100%;
}

.slider-inner-card-description {
    padding-left: var(--padding-slider-inner-item-canvas);
    color: var(--color-font);
}
