@import url(./category/category.css);
@import url(./rank/rank.css);
@import url(./slider/slider.css);
@import url(./card/card.css);

/* ================================================================= */
/* Content-Common */
/* ================================================================= */
.content {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    
    overflow: hidden;
}